# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:
__Name :__ {'Alis', 'Bob', 'Claire'}<br>
__Age :__ {25,30,27}<br>
__Gender :__ {'Female', 'Male', 'Female'}<br>

# Then, print the DataFrame.

In [3]:
import pandas as pd

data = {'Name': ['Alis', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0    Alis   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

__Ans. :__<br>

In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different data types, similar to a table in a relational database. Each column in a DataFrame is represented as a Series, which is a 1-dimensional labeled array that can contain any data type.

The main difference between a DataFrame and a Series is that a Series represents a single column of data, while a DataFrame represents a tabular structure with multiple columns and potentially multiple rows of data.

Here's an example to illustrate the difference between a Series and a DataFrame:

In [4]:
import pandas as pd

# create a Series object
fruits = pd.Series(['apple', 'banana', 'orange'])

# create a DataFrame object
data = {'fruits': ['apple', 'banana', 'orange'],
        'quantity': [3, 5, 2],
        'price': [0.5, 0.4, 0.3]}
df = pd.DataFrame(data)

# print the Series and DataFrame
print(fruits)
print(df)

0     apple
1    banana
2    orange
dtype: object
   fruits  quantity  price
0   apple         3    0.5
1  banana         5    0.4
2  orange         2    0.3

So, in summary, while a Series represents a single column of data with labeled indices, a DataFrame is a tabular data structure with potentially multiple columns and rows of data, where each column is represented as a Series and each row is labeled with an index number.

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

__Ans. :__<br>

Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some of the most commonly used functions:

1. __head()__ and __tail()__: These functions are used to display the top or bottom few rows of the DataFrame. For example, __df.head()__ will display the first 5 rows of the DataFrame __df__, while __df.tail()__ will display the last 5 rows.

2. __describe()__: This function is used to generate various summary statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles. For example, __df.describe()__ will provide a summary of the statistical properties of the DataFrame df.

3. __info()__: This function is used to display information about the DataFrame, such as the number of rows, number of columns, data types, and memory usage. For example, df.info() will display information about the DataFrame df.

4. __drop()__: This function is used to drop a specific column or row from the DataFrame. For example, __df.drop('column_name', axis=1)__ will drop the column with the specified name from the DataFrame df.

5. __groupby()__: This function is used to group data in the DataFrame by one or more columns and perform some aggregation or transformation on the grouped data. For example, __df.groupby('column_name').mean()__ will group the data in the DataFrame df by the specified column and calculate the mean value for each group.

6. __sort_values()__: This function is used to sort the rows of the DataFrame by one or more columns in ascending or descending order. For example, __df.sort_values('column_name', ascending=False)__ will sort the rows of the DataFrame df by the specified column in descending order.

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

__Ans. :__<br>

__Panel__ and __DataFrame__ are mutable in nature, while __Series__ Objects are value-mutable but size-immutable objects..

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [5]:
import pandas as pd

# create three Series objects
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# create a DataFrame using the three Series
data = {'Name': names, 'Age': ages, 'Gender': genders}
df = pd.DataFrame(data)

# print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female